# Configurações do Django
SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Configurações do PostgreSQL
DB_NAME=fisio_connect
DB_USER=fisio_user
DB_PASSWORD=fisio_password
DB_HOST=localhost
DB_PORT=5432

# Configurações do PgAdmin
PGADMIN_EMAIL=admin@fisioconnect.com
PGADMIN_PASSWORD=admin123 